html {
  background-image: url("./assets/fundo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  mix-blend-mode: normal;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Epilogue", sans-serif;
}
.around {
  margin-top: 650px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  position: fixed;
  top: -370px;
  left: 5%;
  height: 70%;
  overflow-y: scroll;
}
button {
  border: 1px solid white;
  border-radius: 5px;
  width: 91px;
  height: 60px;
  background-color: transparent;
  color: aliceblue;
  margin: 0 10px;
}
button:hover {
  border: 1px solid #fae60a;
  color: #fae60a;
}
